<div class="imagebox">
    <img class="jumbotron-image-2" src="./assets/img/code-1.png">
</div>


<div class="container my-4 page-center mx-auto">

    <div class="my-5" >
        <h1 class="my-5 text-center">Hello!</h1>
        <p>
            I’m a 25 year old guy from the northern parts of Sweden, currently located in Stockholm.
            I enjoy developing applications, learning new things and running (especially with a map in my hand).
            Currently I’m working with payments and writing distributed systems in Java.
        </p>
    </div>
</div>


<div class="imagebox">
    <img  class="jumbotron-image-2" src="./assets/img/code-2.png">
</div>