<div class="container page-center mx-auto mb-3">


    <img class="profile-image my-3 mx-auto d-block" src="./assets/img/profile_picture.png">

    <h1 class="text-center">Emil Nilsson</h1>
    <span>
        Hello! I’m a 25 year old guy from the northern parts of Sweden, currently located in Stockholm.
        I enjoy developing applications, learning new things and running (especially with a map in my hand).
        Currently I’m working with payments and writing distributed systems in Java.
    </span>

    <hr>
    <h4>Contact</h4>
    Add me on 
    <a class="non-highlighted-link-white" href="https://linkedin.com/in/emil-nilsson-19262b146/">linked in</a>
    or send me a
    <a class="non-highlighted-link-white" href="mailto:emil837@gmail.com">mail</a>.

    <hr>
    <h4>Experience</h4>
    <p>Here I list my working experience.</p>

    <h4>Trustly</h4>
    <p>
        At Trustly I work with building and maintaining systems for making fast bank transfers.
        My work is focused at distributed systems and micro services. I use Redis, Pact, Kubernetes, Docker, Java, Spring
        Boot and Reactor in my daily work.
    </p>

    <h4>PjPaymentTech</h4>
    <p>
        At PJ I also worked with building and maintaining systems for making fast bank transfers.
        During my time here I got to use Java, Spring Boot, MySQL, JQuery, React och Apache Velocity.
    </p>

    <h4>Intinor</h4>
    <p>At Intinor I got my first experience working as a software developer.
        I also attained knowledge about transmission of audio and video over IP networks.
        During my stay here my biggest task was to develop an ember+ interface, however some bug fixing was
        also
        part of my duties.
        I mainly worked in C/C++, but also got to use my knowledge in Bash and Perl.
        Throughout the summer I worked full time and part time during the autumn alongside my studies.
        When spring arrived I started writing my master thesis here.
    </p>

    <h4>Umeå univeristy - M.Sc.Eng. Computing science</h4>
    <p>I steered my education towards distributed systems.
        In my master thesis I wrote about video synchronisation from multiple senders.
    </p>



</div>