<div>
    <app-page-header text="{{article.title}}" imageSrc="{{article.image}}"></app-page-header>
    <div class="container mx-auto page-center mt-4">
        <div class="text-left my-3">
            <markdown ngPreserveWhitespaces [src]="article.content"></markdown>
        </div>

        <hr>
        <div class="text-muted d-flex justify-content-start my-3">
            <small><i>Emil Nilsson - {{article.date | date : "MMMM d yyyy"}}</i></small>
        </div>
    </div>
    <img class="jumbotron-image-small" src="{{(article.image) || './assets/img/david-cut.jpg'}}">

</div>