@import '../../styles.scss';

.jumbotron-image {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.jumbotron-image-small {
    width: 100%;
    height: 3vw;
    object-fit: cover;
}

.imagebox {
    position: relative;
}

.imagebox-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 3px;
    font-size: 3vw;
  }

pre[class*="language-"] {
   margin: 0;
   margin-bottom: 2vw;
   padding-left: 5vw; 
   border-radius: 0%;
   font-size: 14px
}

markdown > * {
    margin-bottom: 2vw;
}


markdown > p,
markdown > h1,
markdown >  h2,
markdown >  h3,
markdown >  h4,
markdown >  h5,
markdown >  h6,
markdown >  li {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    max-width: 560px;
}

markdown > img {
    margin: 0;
    width: 100%;
    object-fit: fill;
    max-width: none;
}


@media (min-width: 0px) {  
    .h1-responsive {font-size: 16px;}
}

  
@media (min-width: 768px) {  
    .h1-responsive {font-size: 30px;}
}

  
@media (min-width: 992px) { 
    .h1-responsive {font-size: 40px;}
}

  
@media (min-width: 1200px) {  
    .h1-responsive {font-size: 48px;}
}
