<div>
    <app-page-header text="{{article.title}}" imageSrc="{{article.image}}"></app-page-header>
    <div class="mt-4">
        <div class="text-left my-3">
            <markdown class="" ngPreserveWhitespaces [src]="article.content"></markdown>
        </div>


    </div>
    <small class="pb-4 d-flex justify-content-center"><i>Emil Nilsson - {{article.date | date : "MMMM d yyyy"}}</i></small>
    <img class="jumbotron-image-small" src="{{(article.image) || './assets/img/david-cut.jpg'}}">

</div>