<nav style="background-color: #241623;" class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img style="max-width: 40px;" src="assets/img/profile_picture.png" class="img-responsive">
    <span class="ml-2">Emil Nilsson</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articles">Blog</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

<div style="background-color: #241623;" class="text-white text-muted">
  <div class="container w-50 pt-4 pb-4  d-flex justify-content-end">
  
  <ul style="list-style: none;">
      <li><a (click)='sendEvent("linkedin")' class="non-highlighted-link-white" href="https://linkedin.com/in/emil-nilsson-19262b146/">Linked in</a></li>
      <li><a class="non-highlighted-link-white" href="mailto:emil837@gmail.com">Mail</a></li>
  </ul>
</div>
<div>