<div>
    <app-page-header imageSrc="./assets/img/bookshelf.jpg" text="Bookshelf" ></app-page-header>
    <div class="card-columns container">
        <div *ngFor="let book of books">
            <div class="card">
              <img src="{{book.imagePath}}" class="card-img-top border-bottom" alt="...">
              <div class="card-body">
                <span class="card-title">
                    <span class="card-title">{{book.title}}</span>
                    <br>
                    <small class="text-muted">{{book.author}}</small>
                </span>
                <!--<p class="card-text">{{book.description}}</p>-->
              </div>
            </div>
          </div>
    </div>
</div>