@import '../../styles.scss';

.non-highlighted-link {
    text-decoration: none !important;
    color: black;
}

.card-img-top {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.card :hover {
    box-shadow: 4cm;
}

ul {
    margin: 0; 
    padding:0
}
