
* {
    font-family: 'Quicksand', sans-serif;
}

.non-highlighted-link {
    text-decoration: none !important;
    color: black;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.page-center {
    max-width: 560px;
    width: 100%;  
}

.btn-outline-secondary {
    color: #241623;
    border-color: #241623;
    border-style: solid;
    border-width: thin;
    background-color: white;
}


.btn-outline-secondary:hover {
    background-color: #241623;
    color: white;
    cursor: pointer;
}